.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.3s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(56, 0, 121);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
